p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.divider {
    border-bottom: 1px solid #333;
}

.red {
    padding: 10px 1rem;
    background-color: red;
    color: #fff;

    margin-top: 10px;
}

.card {
    box-shadow: 10px 10px 5px #333 inset,
        -10px -10px 5px #333 inset;
}

.fixed-btn {
    position: fixed;
    top: 90vh;
    right: 100px;
}

.btn-rounded {
    background-color: #333;
    color: #fff;
    padding: 1rem 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 10px 5px #333 inset;
}

.btn-rounded:hover {
    color: #ffd;
}

.btn-floating {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-floating:hover {
    background-color: #fff;
    color: blue;
}

.btn-floating i {
    position: absolute;
    top: 25%;
    right: 25%;
    font-size: 1rem;
}

.btn-float {
    float: left;
    margin-right: 10px;
}